table {
  border: black 3px solid;

}

td.gr{
	 font-size: 20px;
   text-align: center;
   border: 1px solid #000;
}
td.nor {
   font-size: 15px;
   text-align: center;
   border: 1px solid #000;
}



h1{
	font-family:Verdana;
}